<div class="container">
	<h1 class="text-center">Running Your First Ionic Project</h1>
	<h4 class="text-center text-muted">We will run/serve the application on the application server and display it on a browser</h4>
	<blockquote>
	    <p>In this scenario you are probably wondering to yourself: "I have created my first application so what???". Well fear not I will guide you through this. You have created your first project but what do you do with it you may ask... Fear Not i will show you</p>
	</blockquote>
	<p><strong>Step 1: </strong>Once we have created our project(if you havent go to <a routerLink="/create">this page</a>) we are going to go to our terminal and we are going to run this command:</p>
	<p class="terminal-code">ionic serve</p>
	<p><strong>Step 2: </strong>We are going to wait for a bit to transpile and then we will wait for the browser to open annnnnd... <span class="bigtext">we're done!!!</span></p>
	<p><em><strong>A little sidenote: </strong></em>From then you can open the created folder in using your favourite text browser and <span class="bigtext">conquer the world!!!</span></p>
</div>