<div class="container">
	<h1 class="text-center">Creating A New Ionic Project</h1>
	<h4 class="text-muted text-center"><em>I will briefly explain how to create a new project in Ionic</em></h4><br>
	<p><strong>Step 1: </strong>Firstly we are going to open our terminal of choice like we did in the previous method when installing the Ionic CLI(If you havent done this then i suggest that you do so now before proceeding).<a routerLink="/install"> Link to instaling the CLI</a></p>
	<p><strong>Step 2: </strong>We are then going to enter the following command in our terminal: </p>
	<p class="terminal-code">ionic start [ProjectName] [ProjectType] <br>
	ionic start helloWorld blank</p>
	<p class="blockquote"><strong><em>A little sidenote: </em></strong> There are various project types that you can choose from to achieve this then you are going to leave out "blank" and type this in your command: </p>
	<p class="terminal-code">ionic start helloWorld</p>
	<p><strong>Step 3: </strong>Once the terminal has completed installing the dependencies then you are as good as done... <span class="bigtext">Congratulations! you have created your first ionic application!!!</span></p>
</div>