<div class="container">
	<h1 class="text-center">How to install Ionic CLI and Cordova</h1>
	<h4 class="text-center text-muted"><em>I'll carefully take you through the process of the installing the application according to my knowlege</em></h4><br>
	<p>Before we even get started we will require the following:</p>
	<ul class="well">
		<li>Node.js(the latest version)</li>
		<li>A stable internet connection</li>
		<li>A brain</li>
	</ul>
	<p><strong>Step 1: Download and install <a href="https://www.nodejs.org">Node.js</a></strong></p>
	<p><strong>Step 2: </strong>Open a terminal on your computer it can be command prompt or Git/Powershell(whatever you prefer)</p>
	<p><strong>Step 3: </strong>In your terminal we will install the Ionic CLI(Command Line Interface) as well as Cordova and to achieve this you will require to enter this in your terminal</p>
	<p class="terminal-code">npm install -g ionic cordova</p>
	<p class="blockquote"><strong><em>A little sidenote: </em></strong>npm means that we are using the <strong> Node Package Manager</strong><br>This little <strong>-g</strong> we are adding means that it will be installed gloablly</p>
	<p><strong>Step 4: </strong> Once the downloading of all dependencies are completed guess what??? <span class="doneText">We are done!!!</span></p>
</div>