.terminal-code{
	color: #24FF00;
	background: #2c3e50;
	padding: 10px;
	border-radius: 2px;
	font-family: monospace;
	font-size: 1.2em;
}

.doneText{
	font-size: 1.3em;
	font-weight: bold;
}

.container{
	animation: .4s fadeIn;
}

@keyframes fadeIn{
	0%{opacity: 0; transform: scale(0.9);}
	100%{opacity: 1; transform: scale(1);}
}